tr.activity-box td {
  font-size: 10px !important;
  height: 10rem;
}

.custom-map {
  width: 100%;
  height: 400px !important;
  background-color: #777;
}
.custom-map .leaflet-container {
  height: 200px;
}

.carousel .thumb.selected,
.carousel .thumb,
.carousel .thumb:hover {
  border: 3px solid #333;
  height: 100px;
}
.reference {
  height: 7rem;
  width: 20rem;
  border: 2px solid white;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  bottom: 0;
}
.reference p {
  font-size: 13px;
}
.color-sphere-red {
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  background: #e32636;
}
.color-sphere-red p {
  margin-left: 1rem;
  width: 60%;
}
.color-sphere-green p {
  margin-left: 1rem;
  width: 60%;
}
.color-sphere-yellow p {
  margin-left: 1rem;
  width: 60%;
}
.color-sphere-light-green p {
  margin-left: 1rem;
  width: 60%;
}

.color-sphere-yellow {
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  background: #f7de3a;
}
.color-sphere-light-green {
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  background: #a4de02;
}
.color-sphere-green {
  height: 1rem;
  width: 1rem;
  border-radius: 2rem;
  background: #4c9a2a;
}

.progress-colors {
  width: 25rem;
}
.progress-colors span {
  font-weight: 500;
}
.stats-panel {
  background: #0a1929;
  width: 100rem;
  border: 1px solid #007fff;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
}
.stats-panel p {
  color: white;
}
.map-container {
  width: 100%;
  height: 100vh;
}
.map-container-gym {
  width: 80%;
  height: 50vh;
}
.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  /* &:hover {
    z-index: 1;
  } */
}
.page-container-user {
  padding-bottom: 35px;
}
.marker-gym {
  color: blue;
}
.marker-geo:hover {
  color: #000;
  background: #000;
}
.marker-popup {
  background-color: #007fff;
}
.see-details {
  font-weight: 600;
  text-decoration: underline;
  color: #007fff;
}
