// @import "~bootstrap/scss/bootstrap";
@import "./variables";
@import "./register";
@import "./sidemenu";
@import "./user";
@import "./admin";
@import "./gym";
@import "./trainer";
@import "./topbar";
@import "./progress";
::-webkit-scrollbar {
  width: 12px;
  z-index: 0;
}
::-webkit-scrollbar-track {
  background: $color4;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background: $color3;
  border-radius: 1rem;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}
.page-container {
  background-color: $color1;
  height: 100vh;
  margin-top: 0;
}
.page-container-user,
.page-container-gym,
.page-container-admin {
  background-color: $color1;
  height: 100vh;
  margin-top: 0;
  margin-left: 15rem;
  padding-left: 40px;
  padding-right: 40px;
}
